/* Add Global styles here */
h4{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    color: white;
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: darkgray;
}
.navbar li{
    float: left;
}


#book{
    float: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif;
}
p1, p2, p3, p4, p5, p6 {
  font-family: "Times New Roman", Times, serif;
}